<template>
    <Header class="overflow-x-hidden"/>
    <PhotoBanner id="acerca-de"/>
    <Restaurants id="restaurantes"/>
    <Slider />
    <Form id="contactanos"/>
    <Benefits/>
    <Footer />
</template>

<script>
import Header from '../components/Header.vue'
import PhotoBanner from '../components/PhotoBanner.vue'
import Restaurants from '../components/Restaurants.vue'
import Slider from '../components/Slider.vue'
import Form from '../components/Form.vue'
import Benefits from '../components/Benefits.vue'
import Footer from '../components/Footer.vue'

export default({
    components:{
        Header,
        PhotoBanner,
        Restaurants,
        Slider,
        Form,
        Benefits,
        Footer
    },
    setup() {
        
    },
})
</script>
