<template >
    <Header/>
    <MenuBody/>
    <Footer/>
</template>

<script>
import Header from '../components/MenuHeader.vue'
import MenuBody from '../components/MenuBody.vue'
import Footer from '../components/Footer.vue'
export default {
    components: {Header, MenuBody, Footer}
}
</script>