<template>
    <div class="lg:flex lg:w-auto">
        <img src="../assets/images/phone.png" class="relative z-20 -mt-40 h-100 md:w-auto md:h-4/5 md:-mt-72 lg:left-0 lg:-ml-80 lg:-mr-94 lg:-mt-40 xl:h-auto xl:-ml-108 xl:-mt-96">
        <span class="lg:mt-20 xl:-ml-100">
            <span >
                <h2 data-aos="fade-right" data-aos-anchor-placement="top-center" class="font-druk text-3xl text-center md:text-4xl xl:text-5xl">Obten más beneficios</h2>
                <h2 data-aos="fade-right" data-aos-anchor-placement="top-center" class="font-druk text-3xl text-center mx-8 md:mx-28 md:text-4xl xl:text-5xl xl:mx-80 bg-yellow-400">Descarga nuestra App</h2>
            </span>
            <div class="font-syne md:grid md:grid-flow-row md:grid-rows-2 md:grid-cols-2 xl:gap-y-12 xl:-pr-24">
                <span data-aos="fade-up" data-aos-anchor-placement="top-center" class="flex flex-col items-center mt-14">
                    <img src="../assets/images/circle1.svg" class="w-16 md:w-12">
                    <h4 class="font-bold mt-4 text-center text-2xl">Solicita rápido</h4>
                    <p class="text-center font-semibold mt-4 mx-12">Curabitur in eleifend turpis, id vehicula odio. Donec pulvinar tellus eget magna aliquet ultricies.</p>
                </span>
                <span data-aos="fade-up" data-aos-anchor-placement="top-center" class="flex flex-col items-center mt-14">
                    <img src="../assets/images/circle2.svg" class="w-16 md:w-12">
                    <h4 class="font-bold mt-4 text-center text-2xl">Solicita rápido</h4>
                    <p class="text-center font-semibold mt-4 mx-12">Orci varius natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus.</p>
                </span>
                <span data-aos="fade-up" data-aos-anchor-placement="top-center" class="flex flex-col items-center mt-14 md:col-span-2 md:mx-32">
                    <img src="../assets/images/circle3.svg" class="w-16 md:w-12">
                    <h4 class="font-bold mt-4 text-center text-2xl">Promociones especiales</h4>
                    <p class="text-center font-semibold mt-4 mx-12">Curabitur in eleifend turpis, id vehicula odio. Donec pulvinar tellus eget magna aliquet ultricies.</p>
                </span>
            <img data-aos="fade-right" data-aos-anchor-placement="top-center" src="../assets/images/larrow.svg" class="hidden md:block absolute z-0 mt-20 left-28 lg:left-100 xl:left-190">
            <img data-aos="fade-left" data-aos-anchor-placement="top-center" src="../assets/images/rarrow.svg" class="hidden md:block absolute z-0 mt-20 right-24 lg:right-10 xl:right-52">
            </div>
        </span>
    </div>
    
</template>
