<template>
    <div class="flex flex-col justify-center items-center m-8 py-20">
        <img :src="error.img">
        <p class="text-center font-syne text-2xl font-bold mt-4 md:text-3xl">
            {{ error.title }}
        </p>
        <p class="text-center font-syne text-xl md:text-2xl">
            {{ error.desc }}
        </p>
    </div>
</template>

<script>
export default {
    props:{
        error: {}
    }
}
</script>