<template>
    <footer class="flex flex-col items-center mt-10 lg:mt-0 ">
        <span class="items-center flex lg:flex-row flex-col">
            <p class="font-druk text-gray-500 text-3xl lg:mr-100 xl:mr-200">Foodies</p>
            <span class="flex my-4">
                <span class="w-32 ml-1" v-for="app in Appstores" :key="app">
                    <img :src="app">
                </span>
            </span>
        </span>
        <hr class=" w-4/5 text-center bg-yellow-300 lg:h-0.5 lg:w-11/12">
        <span class="text-center text-gray-400 text-lg font-syne lg:flex lg:justify-center">
            <p class="my-8 lg:mx-4 xl:mx-14">Conoce nuestras sucursales</p>
            <p class="my-8 lg:mx-4 xl:mx-14">Acerca de</p>
            <p class="my-8 lg:mx-4 xl:mx-14">Conoce nuestras surcusales</p>
            <p class="my-8 lg:mx-4 xl:mx-14">¿Qué hablan de nosotros?</p>
            <p class="my-8 lg:mx-4 xl:mx-14">Contáctanos</p>
        </span>
    </footer>
</template>

<script>
import AppStore from '../assets/images/appstore.png'
import GooglePlay from '../assets/images/googleplay.png'
export default {
    data(){
        return{
            Appstores: [
                AppStore,
                GooglePlay
            ]
        }
    }
}
</script>