<template>
    <div class="bg-black flex pt-20 pb-24 md:pb-14 md:pt-44 md:mb-24 flex-col justify-center text-white">
        <SendSuccesful v-show="showMessage"/>
        <div  v-show="!showMessage" class="-mt-12 md:-mt-48 lg:mt-0">
            <h1 class="font-druk text-center text-3xl mt-16 mb-5 m-2 lg:text-5xl">Cuentanos tu experiencia</h1>
            <p class="font-syne text-lg text-center mx-10 lg:text-2xl lg:mx-24">Don't miss out on our great offers & Receive deals from all our top restaurants via e-mail.</p>
            <div class="font-syne lg:flex lg:justify-center  lg:px-48 p-6 my-10 relative -mt-2">
                <span class="flex flex-col lg:w-1/2 xl:w-1/3">
                    <label for="nameInput" class="text-xs -mb-4 mt-4 xl:text-base">Nombre y Apellido</label><br>
                    <input v-model="name" type="text" id="nameInput" placeholder="John Doe" class="border bg-transparent p-2  focus:ring focus:ring-yellow-300 focus:text-yellow-300 w-full">
                    <label for="emailInput" class="text-xs -mb-4 mt-4 xl:text-base">Email</label><br>
                    <input v-model="email" type="email" id="emailInput" placeholder="j.doe@correo.com" class="border bg-transparent focus:ring focus:ring-yellow-400 p-2 w-full focus:text-yellow-300">
                </span>
                <span class="flex flex-col lg:w-4/5 xl:w-2/3 lg:mx-2 xl:mx-2">
                    <label for="messageInput" class="text-xs -mb-4 mt-4 xl:text-base">Mensaje</label><br>
                    <textarea v-model="message" id="messageInput" cols="10" rows="3" placeholder="El día de ahora mi experiencia fue..." class="border focus:ring focus:text-yellow-300 focus:ring-yellow-400 bg-transparent p-2 w-full lg:h-80"></textarea>
                    <input @click.prevent="sendFeedback" type="submit" value="Enviar comentarios" class="w-auto bg-yellow-400 mt-4 text-black text-lg font-semibold mx-auto p-4 lg:mr-0 transition duration-500 ease-in-out transform hover:-translate-y-1 hover:scale-110">
                </span>
            </div>
        </div>
    </div>
</template>

<script>
import SendSuccesful from './SendSuccesful.vue'

export default {
    components: { SendSuccesful },
    data(){
        return{
            name: '',
            email: '',
            message: '',
            apiUrl: 'https://api.elaniin.dev/api/contact',
            showMessage: false,
        }
    },
    methods: {
        async sendFeedback() {
            const json = {
                "name": this.name,
                "email": this.email,
                "message": this.message
            }

            try{
                const req = await fetch(this.apiUrl, {
                    method:"POST",
                    body: JSON.stringify(json),
                    headers: {
                        "Content-type": "application/json; charset=UTF-8"
                    }
                })

                const res = await req.json()
                console.log(res);

                this.showMessage = true
            } catch(e){
                console.log(e);
                alert("Something went wrong.")
            }
        }
    }
}
</script>

