<template>
    <div class="">
        <span class="flex justify-end">
            <img src="../assets/images/headerlp.svg" class="absolute -mt-5 ml-5 z-0 w-96 md:w-108 md:m-0 xl:w-200">
        </span>
        <Hero @close="showMenu = !showMenu" :class="showMenu ? 'transform translate-y-0' : 'transform -translate-y-full'"/>
        <nav class="bg-transparent flex lg:hidden z-10 items-center  z-10 ">
            <h1 class="text-3xl mt-12 ml-4 w-5/6 font-druk md:ml-10 md:mt-7 cursor-pointer">Foodies</h1>
            <i class="fas fa-bars mt-12 w-1/12 mr-4 md:ml-102 cursor-pointer text-2xl" @click="showMenu = !showMenu"/>
        </nav>
        <nav class="lg:flex hidden text-center  flex-row mt-14 ml-24 bg-transparent items-baseline w-full">
            <div class="">
                <a @click="this.$router.push({ name: 'Home'})" class="font-druk mr-12 font-bold text-3xl cursor-pointer xl:text-4xl">Foodies</a>
            </div>
            <div class="font-syne text-xl font-bold xl:text-2xl">
                <a @click.prevent="scroll('#acerca-de')" class="text-grey-darkest ml-12 xl:ml-24 transition duration-100 rounded-lg ease-in-out hover:text-yellow-400 hover:underline transform p-2">Acerca de</a>
                <a @click.prevent="scroll('#restaurantes')" class="text-grey-darkest ml-12 xl:ml-24 transition duration-100 rounded-lg ease-in-out hover:text-yellow-400 hover:underline transform p-2">Restaurantes</a>
                <a @click.prevent="this.$router.push({ name: 'Menu'})" class="text-grey-darkest ml-12 xl:ml-24 transition duration-100 rounded-lg ease-in-out hover:text-yellow-400 hover:underline transform p-2">Menú</a>
                <a @click.prevent="scroll('#contactanos')" class="text-grey-darkest ml-12 xl:ml-24 transition duration-100 rounded-lg ease-in-out hover:text-yellow-400 hover:underline transform p-2">Contáctanos</a>
            </div>
        </nav>
        <section class="flex flex-col-reverse  mt-5 z-0 relative items-center md:flex-row lg:pl-40 lg:justify-center">
            <span class="z-10 pl-4 md:px-12" >
                <h1 data-aos="slide-right" data-aos-anchor-placement="top-center" class="text-4xl mt-5 mr-3 md:w-80 xl:text-6xl xl:w-108 font-druk">Un nuevo sabor esta <span class="bg-yellow-300"> <br> en la ciudad</span></h1>
                <p data-aos="fade-up" data-aos-anchor-placement="top-center" class="text-lg ml-2 mt-2 font-syne md:w-72 xl:text-2xl xl:w-102 text-gray-400">Estamos a punto de descubrir un mundo lleno de sabores y de emociones inigualables.</p>
                <p class="mt-4 text-xl font-syne font-bold xl:text-2xl xl:mt-11">Encuentranos  <i class="fas fa-arrow-right text-lg ml-0.75"></i></p>
            </span>
            <img src="../assets/images/lpburguer.png" 
            alt="Hamburguer" 
            class="h-60 w-80 md:pl-9 md:pr-8 lg:px-0 lg:ml-0 lg:mr-36 lg:w-100 lg:h-auto xl:w-108 xl:ml-72">
        </section>
    </div>
</template>

<script>
import Hero from './Hero.vue'

export default {
    components:{ Hero },
    data(){
        return{
            showMenu: false,
        }
    },
    methods:{
        scroll(element){
            document.querySelector(element).scrollIntoView({ behavior: 'smooth'})
        }
    }
}
</script>

<style scoped>
.link3:after {
    position: absolute;
    bottom: 0;
    left: 0;
    display: block;
    width: 100%;
    height: 2px;
    background-color: #CF2034;
    content: "";
    border-bottom: 1px solid #222;
    transform: translate3d(-101%,0,0);
    transition: transform .3s cubic-bezier(0.11, 0.7, 0, 1);
}

.link3:hover:after {
    transform: translate3d(0,0,0);
}


</style>