<template>
    <div id="map" class="hidden md:flex mt-10 w-screen xl:w-3/5 xl:-mt-10" style="height: 65vh"></div>
</template>

<script>
/* eslint-disable no-undef */
import { onMounted, reactive } from 'vue'
import { Loader } from '@googlemaps/js-api-loader'

const GOOGLE_MAPS_API_KEY = "AIzaSyCW5RiPl7JDZrA0paobjb_F2eRluDgDYEs"

export default {
    props: ['latitude', 'longitude'],

    setup(props){
        var latitude = props.latitude;
        var longitude = props.longitude;

        const loader = new Loader({ apiKey: GOOGLE_MAPS_API_KEY })

        const initMap = () => {
            const myLatLng = { lat: 13.6929, lng: -89.2182 };
            var map = new google.maps.Map(document.getElementById("map"), {
                zoom: 14,
                center: myLatLng,
                disableDefaultUI: true,
            });

            var marker = new google.maps.Marker({
                map,
            });

            marker.setMap(map)

            marker.setPosition({lat: Number(latitude), lng: Number(longitude)})
        }

        onMounted(async () => {
            await loader.load()
            initMap()
        })
        return { initMap  }
    },

    methods: {
        printGroup(mssg, data) {
            console.group(mssg);
            console.log(data);
            console.groupEnd();
        }
    },
}
</script>

