<template>
    <div class="justify-self-center rounded-xl bg-transparent font-syne xl:w-4/5 hover:bg-white hover:shadow-xl transition duration-500 ease-in-out transform hover:-translate-y-1 hover:scale-110">
        <img :src="food.img" class="rounded-xl w-full">
        <h1 class="text-xl mt-4 ml-2 font-bold">{{ food.name }}</h1>
        <p class=" my-4 text-left ml-2">{{ food.desc }}</p>
        <span class="flex justify-between ml-2 pb-4 pr-2 items-center">
            <p class="text-gray-500 text-xs xl:text-base">{{ food.cat }}</p>
            <p class="font-druk bg-yellow-400 text-xs rounded-lg p-1">${{ food.price }}</p>
        </span>
    </div>
</template>

<script>
export default {
    props:{
        food: {}
    },
}
</script>