<template>
    <div class="bg-white w-screen z-50 absolute rounded-b-3xl border-2 duration-100" >
        <span class="flex items-center">
            <h1 class="text-3xl mt-12 ml-4 w-5/6 md:mt-7 font-druk cursor-pointer">Foodies</h1>
            <i class="fas fa-times mt-12 w-1/12 mr-4 md:ml-102 cursor-pointer text-2xl" @click="$emit('close')"/>
        </span>
        <span >
            <ul class="ml-4 font-syne font-bold text-xl md:ml-10">
                <li class="mt-12">
                    <a href="/#acerca-de" >Acerca de</a>
                </li>
                <li class="mt-12">
                    <a href="/#restaurantes" >Restaurantes</a>
                </li>
                <li class="mt-12">
                    <a href="/menu">Menú</a>
                </li>
                <li class="mt-12 pb-28">
                    <a href="/#contactanos" >Contactanos</a>
                </li>
            </ul>
        </span>
    </div>
</template>

<script>
export default {
    
}
</script>
