<template>
    <div class="bg-black overflow-hidden z-0">
        <span class="flex  md:hidden justify-end">
            <img src="../assets/images/sm_bg.png" class="absolute -mt-5 z-10">
        </span>
        <span class="md:flex hidden xl:hidden justify-end">
            <img src="../assets/images/md_bg.png" class="absolute -mt-20 lg:mt-1 z-10">
        </span>
        <span class="xl:flex hidden justify-end">
            <img src="../assets/images/lg_bg.png" class="absolute mt-px z-10">
        </span>
        <Hero @close="showMenu = !showMenu" :class="showMenu ? 'transform translate-y-0 z-50' : 'transform -translate-y-full'"/>
        <nav :class="showMenu ? 'invisible' : 'visible'" class="lg:hidden z-20 relative pb-2.5 flex">
            <h1 @click="this.$router.push({ name: 'Home'})" class="text-3xl mt-12 ml-4 w-5/6 font-druk text-white md:ml-10 md:mt-7 cursor-pointer">Foodies</h1>
            <i class="fas fa-bars mt-12 w-1/12 mr-4 md:ml-94 cursor-pointer text-2xl" @click="showMenu = !showMenu"/>
        </nav>
        <nav class="lg:flex hidden text-center flex-row pl-24  text-white bg-transparent z-40 relative top-0 pt-12 items-baseline w-full">
            <div class="">
                <a @click="this.$router.push({ name: 'Home'})" class="font-druk mr-12 font-bold text-3xl cursor-pointer xl:text-4xl">Foodies</a>
            </div>
            <div class="font-syne text-xl font-bold xl:text-2xl">
                <a href="/#acerca-de" class="text-grey-darkest ml-12 xl:ml-24 transition duration-100 rounded-lg ease-in-out hover:text-yellow-400 hover:underline transform p-2">Acerca de</a>
                <a href="/#restaurantes" class="text-grey-darkest ml-12 xl:ml-24 transition duration-100 rounded-lg ease-in-out hover:text-yellow-400 hover:underline transform p-2">Restaurantes</a>
                <a @click="this.$router.push({ name: 'Menu'})" class="text-grey-darkest ml-12 xl:ml-24 transition duration-100 rounded-lg ease-in-out hover:text-yellow-400 hover:underline transform p-2 cursor-pointer">Menú</a>
                <a href="/#contactanos" class="text-grey-darkest ml-12 xl:ml-24 transition duration-100 rounded-lg ease-in-out hover:text-yellow-400 hover:underline transform p-2">Contáctanos</a>
            </div>
        </nav>
        <span :class="showMenu ? 'invisible' : 'visible'" class="flex flex-col mt-5 mb-4 md:mb-0 items-center md:flex-row-reverse relative z-20 lg:justify-center md:pb-20 lg:ml-40 lg:pb-16 xl:pb-14">
            <img src="../assets/images/hero_hamburger.png"
                alt="Hamburguer"
                class="h-60 w-80 md:ml-9 md:mr-8 lg:w-100 lg:h-auto xl:w-108 xl:ml-72">
            <h1 data-aos="slide-right" data-aos-anchor-placement="top-center" class="text-4xl mt-5 mr-3 md:w-80 xl:text-6xl xl:w-108 text-white font-druk">Cada sabor es una nueva <span class="bg-yellow-300 text-black"> <br> experiencia</span></h1>
        </span>
    </div>
</template>

<script>
import Hero from './MenuHero.vue'
export default {
    components: {Hero},
    data(){
        return{
            showMenu: false,
        }
    },
}
</script>