<template>
    <div class="bg-black w-screen absolute md:hidden rounded-b-3xl duration-100" :class="showMenu ? 'transform translate-y-0 z-20' : 'z-0 transform -translate-y-full'">
        <span class="flex items-center">
            <h1 class="text-3xl mt-12 ml-4 w-5/6 md:mt-7 font-druk cursor-pointer text-yellow-400">Filtros</h1>
            <i class="fas fa-times mt-12 w-1/12 mr-4 md:ml-102 cursor-pointer text-2xl text-white" @click="showMenu = !showMenu"/>
        </span>
        <span >
            <ul class="ml-4 font-syne text-white font-bold text-xl md:ml-10" >
                <li class="my-8 cursor-pointer transition duration-100 rounded-lg ease-in-out hover:text-yellow-400 hover:underline transform" @click="fetchData(this.baseUrl)">Todas</li>
                <li class="my-8 cursor-pointer transition duration-100 rounded-lg ease-in-out hover:text-yellow-400 hover:underline transform" @click="getCategories(1)">Las tradicionales</li>
                <li class="my-8 cursor-pointer transition duration-100 rounded-lg ease-in-out hover:text-yellow-400 hover:underline transform" @click="getCategories(2)">Recomendaciones</li>
                <li class="my-8 cursor-pointer transition duration-100 rounded-lg ease-in-out hover:text-yellow-400 hover:underline transform" @click="getCategories(3)">Para compartir</li>
            </ul>
        </span>
    </div>
    <div class="mt-4 z-10">
        <span class="flex md:hidden items-center">
            <span class="flex justify-start w-10/12 mx-2 border-2 rounded-lg">
                <i class="fas fa-search m-2"/>
                <input @keyup.enter="searchItem(searchString)" v-model="searchString" class="mt-0.5 text-base font-syne bg-transparent w-full" placeholder="Busca tu platillo favorito...">
            </span>
            <i class="fas fa-sliders-h ml-2" @click="showMenu = !showMenu"></i>
        </span>
        <span class="hidden md:flex flex-col lg:flex-row">
            <span class="flex justify-start items-center border-2 border-gray-300 mx-24 rounded-lg lg:w-2/5 lg:ml-4 lg:mr-0">
                <i class="fas fa-search m-2 text-gray-400"/>
                <input @keyup.enter="searchItem(searchString)" v-model="searchString" class="mt-0.5 text-base font-syne w-full bg-transparent" placeholder="Busca tu platillo favorito...">
            </span>
            <ul class="flex justify-around lg:w-4/5 my-5 font-syne font-bold">
                <li class="cursor-pointer transition duration-100 rounded-lg ease-in-out hover:text-yellow-400 hover:underline transform" @click="fetchData(this.baseUrl)">Todas</li>
                <li class="cursor-pointer transition duration-100 rounded-lg ease-in-out hover:text-yellow-400 hover:underline transform" @click="getCategories(1)">Las tradicionales</li>
                <li class="cursor-pointer transition duration-100 rounded-lg ease-in-out hover:text-yellow-400 hover:underline transform" @click="getCategories(2)">Recomendaciones</li>
                <li class="cursor-pointer transition duration-100 rounded-lg ease-in-out hover:text-yellow-400 hover:underline transform" @click="getCategories(3)">Para compartir</li>
            </ul>
        </span>
        <Error v-show="showError" :error="errorDetail"/>
        <span v-show="!showError" class="grid m-4 md:m-8 lg:m-20 lg:grid-cols-4 md:grid-cols-2 sm:grid-cols-2 gap-10">
            <MenuCard v-for="item in menuItems" :key="item" :food="item"/>
        </span>
        <span class="flex md:justify-evenly lg:justify-center justify-around items-center font-syne">
            <button :class="!isActive ? 'bg-black text-yellow-300': 'border-gray-400 border-2 text-black'" class="lg:mx-2 w-10 h-10 text-2xl rounded-md" @click="changePage(prevUrl)">1</button>
            <button :class="isActive ? 'bg-black text-yellow-300': 'border-gray-400 border-2 text-black'" class="lg:mx-2 w-10 h-10 text-2xl rounded-md" @click="changePage(nextUrl)">2</button>
            <button class="bg-yellow-100 px-6 py-0 h-10 text-2xl rounded-md lg:mx-2" @click="nextButton()">{{buttonText}}</button>
        </span>
    </div>
</template>

<script>
import axios from 'axios'
import MenuCard from './MenuCard.vue'
import Error from './ErrorMessage.vue'

import img from '../assets/images/MenuError.png'

export default {
    components: { MenuCard, Error },
    data(){
        return{
            baseUrl: 'https://api.elaniin.dev/api/menu',
            menuItems: [],
            nextUrl: '',
            prevUrl: '',
            searchString: '',
            isActive: false,
            buttonText: 'Siguiente',
            showMenu: false,
            showError: false,
            errorDetail: {
                img: img,
                title: '¡Platillo no encontrado!',
                desc: 'Te invitamos a que verifiques si el nombre esta bien escrito o prueba buscando un nuevo platillo.'
            }
        }
    },
    methods:{
        fetchData(url){
            this.showMenu = false
            this.showError = false
            axios.get(url).then( res => {
                res.data.data.forEach(el => {
                    let food = {
                        id: el.id,
                        name: el.name,
                        desc: el.description,
                        img: el.image,
                        cat: el.category,
                        price: el.price
                    }
                    this.menuItems.push(food)
                });
                this.nextUrl = res.data.links.next
                this.prevUrl = res.data.links.prev

                if(this.menuItems.length === 0){
                    this.showError = !this.showError
                }
            }).catch(err => {
                console.log(err);
            })
        },
        searchItem(search){
            if(search === '')
                alert("Ingrese el nombre del item a buscar.")
            else{
                let newUrl = this.baseUrl + '?query=' + search.replace(/\s/g, '%20%')
                this.menuItems = []
                this.fetchData(newUrl)
            }
            
            this.searchString = ''
        },
        getCategories(cat){
            let newUrl = this.baseUrl + '?category=' + cat
            this.showError = !this.showError
            this.menuItems = []
            this.fetchData(newUrl)
        },
        changePage(url){
            this.menuItems = []
            this.showError = !this.showError
            this.isActive = !this.isActive
            this.fetchData(url)
        },
        nextButton(){
            this.showError = !this.showError

            if(this.prevUrl === null){
                this.buttonText = 'Anterior'
                this.menuItems = []
                this.fetchData(this.nextUrl)
            }
            else if(this.nextUrl === null) {
                this.buttonText = 'Siguiente'
                this.menuItems = []
                this.fetchData(this.prevUrl)
            }
        },
    },
    created(){
        this.fetchData(this.baseUrl)
    }
}
</script>
