<template>
    <div class="font-syne m-4 rounded-md border-2 md:mx-14 transition duration-500 ease-in-out hover:border-yellow-100 hover:bg-yellow-100 transform hover:-translate-y-1 hover:scale-110">
        <h3 class="p-2 font-bold text-xl">{{ office.name }} </h3>
        <p class="pl-2">Abierto de {{ office.opening_time }} - {{ office.closing_time }}</p>
        <p class="px-2 pb-4">{{ office.address }}</p>
    </div>
</template>

<script>
export default {
    props:{
        office: {}
    },
}
</script>


