<template>
    <div class="mt-10 md:mt-72 lg:flex">
        <div class="lg:w-2/3">
            <img src="../assets/images/linearbg_sm.png" class="w-screen block md:hidden">
            <img src="../assets/images/linearbg_lg.png" class="w-screen md:block hidden">
            <h2 class="z-10 -mt-28 mr-0 font-druk font-bold text-3xl text-right text-white
            md:text-5xl md:mr-4 xl:text-6xl xl:-mt-40">
                LA COMIDA ES <span class="text-yellow-300"> <br> NUESTRO ARTE </span> 
            </h2>
        </div>
        <div class="md:bg-spirals bg-cover font-syne lg:w-1/2 lg:h-1/4 xl:h-102 xl:my-52">
            <span class="md:flex md:flex-col md:items-start md:justify-center xl:my-40">
                <h3 class="text-left text-2xl mt-10 font-bold md:ml-4 md:mt-24 lg:my-6 xl:text-3xl" data-aos="fade-down-left" data-aos-anchor-placement="top-center">¿Quién es Foodies?</h3>
                <p class="text-left mt-6 text-gray-500 md:ml-4 md:text-xl xl:text-2xl" data-aos="fade-up" data-aos-anchor-placement="top-center">Elit irure ad nulla id elit laborum nostrud mollit irure. Velit reprehenderit sunt nulla enim aliquip duis tempor est culpa fugiat consequat culpa consectetur Lorem. Reprehenderit dolore culpa irure eiusmod minim occaecat et id minim ullamco. </p>
                <p class="mt-4 text-xl font-bold ml-4 md:ml-8 md:mt-10 md:mb-12 xl:text-2xl">Contáctanos  <i class="fas fa-arrow-right text-lg ml-0.75"></i></p>
            </span>
        </div>
    </div>
</template>