<template>
    <div class="md:mt-72 lg:mt-80 xl:mt-56">
        <h2 data-aos="fade-right" data-aos-anchor-placement="top-center" class="font-druk text-left font-bold text-4xl md:w-auto xl:ml-40 md:-mt-72 md:mb-2 w-72 ml-4">
            Estamos para ti
        </h2>
        <Error v-show="showError" :error="errorDetail"/>
        <div v-show="!showError" class="xl:flex">
            <div class="mt- xl:mt-10 xl:w-2/5">
                <span class="flex font-syne">
                    <button class="flex items-center md:text-2xl justify-center h-12 w-1/2 rounded-none border-t-2 border-b-2 border-opacity-25" @click="changeType('takeaway')" :class="[takeaway ? 'bg-black text-white border-gray-500' : '' ]">
                        <img v-if="takeaway" src="../assets/images/food.svg" class="mr-2 md:w-6">
                        <img v-if="!takeaway" src="../assets/images/food_sel.svg" class="mr-2 md:w-6">
                        <p >Para llevar</p>
                    </button>
                    <button class="flex items-center md:text-2xl justify-center h-12 w-1/2 rounded-none border-t-2 border-b-2 border-opacity-25" @click="changeType('delivery')" :class="[delivery ? 'bg-black text-white border-gray-500' : '' ]">
                        <img v-if="!delivery" src="../assets/images/truck.svg" class="mr-2 md:w-8">
                        <img v-if="delivery" src="../assets/images/truck_sel.svg" class="mr-2 md:w-8">
                        <p>Domicilio</p>
                    </button>
                </span>
                <span class="flex items-center justify-start border-b-2">
                    <i @click="searchOffice(searchString)" class="fas fa-search mt-2 mr-2 ml-4 my-1"/>
                    <input @keyup.enter="searchOffice(searchString)" v-model="searchString" class="mt-0.5 text-xl font-syne  h-10 w-full" placeholder="Busca nombre o dirección">
                </span>
                <div class="">
                    <Office v-for="office in officeArray" :key="office" :office="office" @click="getCoords(office)" :class="office.selected ? 'border-yellow-100 bg-yellow-100' : 'border-black bg-white'"/>
                </div>
            </div>
            <Map :key="latitude" :latitude="latitude" :longitude="longitude"/>
        </div>
    </div>
</template>

<script>
import Office from './Office.vue'
import axios from 'axios'
import Map from './Map.vue'
import Error from './ErrorMessage.vue'

import img from '../assets/images/locationsError.png'

export default {
    components:{ Office, Map, Error },
    data() {
        return{
            type: 'takeaway',
            apiUrl: 'https://api.elaniin.dev/api/locations?type=',
            officeArray: [],
            takeaway: true,
            delivery: false,
            searchString: '',
            latitude: '', 
            longitude: '',
            showError: false,
            errorDetail: {
                img: img,
                title: '¡No hemos encontrado lo que buscas!',
                desc: ''
            }
        }
    },
    methods:{
        fetchData(){
            axios.get(this.apiUrl + this.type).then( res =>{
                res.data.data.forEach(element => {
                    let office = {
                    name: element.name,
                    opening_time: element.opening_time,
                    closing_time: element.closing_time,
                    address: element.address,
                    type: element.type,
                    latitude: element.latitude,
                    longitude: element.longitude,
                    selected: false
                    }
                    
                    this.officeArray.push(office)
                });
            }).catch(err => {
                console.log(err);
            }) 
        },
        changeType(newType){
            this.type = newType
            this.takeaway = !this.takeaway
            this.delivery = !this.delivery
            this.officeArray = []
            this.fetchData()
        },
        fetchResult(url){
            axios.get(url).then( res =>{
                res.data.data.forEach(element => {
                    let office = {
                    name: element.name,
                    opening_time: element.opening_time,
                    closing_time: element.closing_time,
                    address: element.address,
                    type: element.type,
                    latitude: element.latitude,
                    longitude: element.longitude,
                    selected: false
                    }
                    console.log(res.status);
                    this.officeArray.push(office)
                    
                });
                if(res.data.data.length === 0){
                    setTimeout(() => this.showError = true, 500)
                }
            }).catch(err => {
                console.log(err);
            })
        },
        searchOffice(search){
            if(search === '')
                alert("Ingrese el nombre o direccion de la sucursal a buscar.")
            else{
                let newUrl = this.apiUrl + this.type + '&query=' + search
                this.officeArray = []
                this.fetchResult(newUrl)
            }
            
            this.searchString = ''
        },
        getCoords(obj){
            this.officeArray.forEach(el => {
                if(el.selected)
                    el.selected = false
            })
            obj.selected = !obj.selected;
            this.latitude = obj.latitude;
            this.longitude = obj.longitude;
            this.$forceUpdate();
        },

    },
    mounted(){
        this.fetchData()
    },
}
</script>


