<template>
    <div class="flex flex-col items-center text-white justify-center bg-black ">
        <img src="../assets/images/mail.svg" class="w-32 mb-4">
        <h3 class=" font-druk text-2xl text-center">Gracias por tus comentarios</h3>
        <p class=" font-syne text-xl text-center mx-10">Don't miss out on our great offers & Receive deals from all our top restaurants via e-mail.</p>
        <button @click="redirect()" class=" bg-yellow-300 font-syne text-black font-bold p-4 mt-4">Conocer nuestro menú</button>
    </div>
</template>

<script>
export default {
    methods:{
        redirect() {
            this.$router.push({name: 'Menu'})
        }
    }
}
</script>