<template>
    <div class="flex items-center mt-10 justify-between md:pb-14">
        <span class="hidden md:block relative bottom-8 z-10">
            <img src="../assets/images/ltestimonial.svg" class="w-94 xl:w-108">
        </span>
        <span class="flex-col justify-center items-center">
            <div class="flex-col justify-center w-full" :class="onNext? 'slide-in-right' : 'slide-in-left' ">
                <span class="text-center ">
                    <p class="font-bold font-druk text-xl text-black px-8 md:text-2xl lg:text-3xl ">{{testimonials[slideIndex].title}}</p>
                    <p class="text-syne text-lg text-gray-400 px-6 mt-2 md:text-xl  lg:text-2xl DrukTextWide-Bold">{{testimonials[slideIndex].desc}}</p>
                </span>
            </div>
            <span class="text-xl flex my-4 justify-center font-syne md:text-2xl">
                <p class="cursor-pointer hover:text-yellow-400" @click="prevTestimonial">{{prev}}</p>
                <p class="mx-5">{{ (slideIndex + 1)}} / {{  testimonials.length  }}</p>
                <p class="cursor-pointer hover:text-yellow-400" @click="nextTestimonial">{{next}}</p>
            </span>
        </span>
        <span class="">
            <img src="../assets/images/ketchup.png" class="hidden xl:block absolute mt-36 right-0 w-108 h-screen">
            <img src="../assets/images/rtestimonial.svg" class="hidden md:block relative top-28 xl:top-48 w-94 xl:w-108">
        </span>
    </div>
</template>

onPrev ? 'slide-out-right' : 'slide-out-left' 
<script>

const delay = ms => new Promise(res => setTimeout(res, ms));

export default{
    data(){
        return{
            testimonials: [
                {
                    title: '“El mejor lugar para degustar en familia y amigos!”', 
                    desc: 'Es el mejor lugar al que he venido con mi familia, la comida es rica, sirven rápido y te atienden de la mejor manera.'
                },
                {
                    title: '“Lorem ipsum dolor sit amet, consectetur adipiscing elit. Cras.”', 
                    desc: 'Lorem ipsum dolor sit amet, consectetur adipiscing elit. Morbi viverra ante sit amet volutpat vehicula. '
                },
                {
                    title: '“Nam tempor tellus vel tellus.”', 
                    desc: 'Ut egestas risus velit, at dignissim ex eleifend in. In quam ante, pretium at gravida at.'
                },
                {
                    title: '“Aliquam pellentesque eu elit et gravida.”', 
                    desc: 'Integer malesuada scelerisque sem ut sodales. Maecenas efficitur turpis non orci auctor, at suscipit leo condimentum. Donec.'
                },
                {
                    title: '“Suspendisse potenti. Proin et sapien interdum, dignissim.”', 
                    desc: 'Cras varius venenatis semper. Aenean quis tortor imperdiet, elementum augue et, dapibus sapien. Curabitur faucibus nisl et elit.'
                },
            ],
            slideIndex: 0,
            prev: '<',
            next: '>',
            onNext: false,
            onPrev: false
        }
    },
    methods:{
        async nextTestimonial(){
            this.onNext = true
            await delay(50)
            if(this.slideIndex === (this.testimonials.length - 1))
                this.slideIndex = 0
            else
                this.slideIndex++

            this.onNext = false
        },
        prevTestimonial(){
            if(this.slideIndex === 0)
                this.slideIndex = this.testimonials.length - 1
            else
                this.slideIndex--
        }
    },
    mounted(){
        this.$nextTick(function () {
            window.setInterval(() => {
                this.nextTestimonial();
            },5000);
        })
    }
}
</script>

<style scoped>
@-webkit-keyframes slide-in-right {
    0% {
        -webkit-transform: translateX(1000px);
                transform: translateX(1000px);
        opacity: 0;
    }
    100% {
        -webkit-transform: translateX(0);
                transform: translateX(0);
        opacity: 1;
    }
}
@keyframes slide-in-right {
    0% {
        -webkit-transform: translateX(1000px);
                transform: translateX(1000px);
        opacity: 0;
    }
    100% {
        -webkit-transform: translateX(0);
                transform: translateX(0);
        opacity: 1;
    }
}

.slide-in-right {
	-webkit-animation: slide-in-right 0.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) reverse both;
	        animation: slide-in-right 0.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) reverse both;
}

@-webkit-keyframes slide-in-left {
    0% {
        -webkit-transform: translateX(-1000px);
                transform: translateX(-1000px);
        opacity: 0;
    }
    100% {
        -webkit-transform: translateX(0);
                transform: translateX(0);
        opacity: 1;
    }
}
@keyframes slide-in-left {
    0% {
        -webkit-transform: translateX(-1000px);
                transform: translateX(-1000px);
        opacity: 0;
    }
    100% {
        -webkit-transform: translateX(0);
                transform: translateX(0);
        opacity: 1;
    }
}

.slide-in-left {
	-webkit-animation: slide-in-left 0.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
	        animation: slide-in-left 0.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
}

@-webkit-keyframes slide-out-left {
    0% {
        -webkit-transform: translateX(-1000px);
                transform: translateX(-1000px);
        opacity: 0;
    }
    100% {
        -webkit-transform: translateX(0);
                transform: translateX(0);
        opacity: 1;
    }
    }
    @keyframes slide-out-left {
    0% {
        -webkit-transform: translateX(-1000px);
                transform: translateX(-1000px);
        opacity: 0;
    }
    100% {
        -webkit-transform: translateX(0);
                transform: translateX(0);
        opacity: 1;
    }
}
.slide-out-left {
	-webkit-animation: slide-out-left 0.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) reverse both;
	        animation: slide-out-left 0.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) reverse both;
}

.slide-out-right {
	-webkit-animation: slide-out-right 0.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
	        animation: slide-out-right 0.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
}
@-webkit-keyframes slide-out-right {
  0% {
    -webkit-transform: translateX(1000px);
            transform: translateX(1000px);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateX(0);
            transform: translateX(0);
    opacity: 1;
  }
}
@keyframes slide-out-right {
  0% {
    -webkit-transform: translateX(1000px);
            transform: translateX(1000px);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateX(0);
            transform: translateX(0);
    opacity: 1;
  }
}
</style>